<?xml version="1.0" encoding="UTF-8"?>
<deployment>
    <servers>
        <server id="IVS01A" url="antwerpen01.mx.ict">
            <apachemq>
                <ivs.openwire.port>61616</ivs.openwire.port>
                <ivs.amqp.port>5672</ivs.amqp.port>
                <ivs.stomp.port>1613</ivs.stomp.port>
                <ivs.mqtt.port>1883</ivs.mqtt.port>
                <ivs.ws.port>61614</ivs.ws.port>
                <failover>
                    <backupserver>IVS01B</backupserver>
                    <backupserver>IVS01C</backupserver>
                </failover>
                <replicatedLevelDB
                    directory="activemq-data"
                    replicas="3"
                    bind="tcp://0.0.0.0:36003"
                    zkAddress="antwerpen01.mx.ict:2181,antwerpen02.mx.ict:2181,vlissingen01.mx.ict:2181"
                    zkPassword=""
                    zkPath="/home/srk/working-dir/ivs01-dbstores"
                    sync="quorum_disk"
                    hostname="antwerpen01.mx.ict"
                />
            </apachemq>
            <jetty>
                <hostname>0.0.0.0</hostname>
                <port>8161</port>
            </jetty>
            <zookeeper>
                <tickTime>2000</tickTime>
                <initLimit>5</initLimit>
                <syncLimit>2</syncLimit>
                <dataDir>/home/srk/working-dir/zook_ivsmq</dataDir>
                <clientPort>2181</clientPort>
                <maxClientCnxns>60</maxClientCnxns>
                <server.1>antwerpen01.mx.ict:2888:3888</server.1>
                <server.2>antwerpen02.mx.ict:2888:3888</server.2>
                <server.3>vlissingen01.mx.ict:2888:3888</server.3>
                <server.4>vlissingen01.mx.ict:2888:3888</server.4>
            </zookeeper>
        </server>
        <server id="IVS01B" url="antwerpen02.mx.ict">
            <apachemq>
                <ivs.openwire.port>61616</ivs.openwire.port>
                <ivs.amqp.port>5672</ivs.amqp.port>
                <ivs.stomp.port>1613</ivs.stomp.port>
                <ivs.mqtt.port>1883</ivs.mqtt.port>
                <ivs.ws.port>61614</ivs.ws.port>
                <failover>
                    <backupserver>IVS01C</backupserver>
                    <backupserver>IVS01A</backupserver>
                </failover>
                <replicatedLevelDB
                    directory="activemq-data"
                    replicas="3"
                    bind="tcp://0.0.0.0:36003"
                    zkAddress="antwerpen01.mx.ict:2181,antwerpen02.mx.ict:2181,vlissingen01.mx.ict:2181"
                    zkPassword=""
                    zkPath="/home/srk/working-dir/ivs01-dbstores"
                    sync="quorum_disk"
                    hostname="antwerpen02.mx.ict"
                />
            </apachemq>
            <jetty>
                <hostname>0.0.0.0</hostname>
                <port>8161</port>
            </jetty>
            <zookeeper>
                <tickTime>2000</tickTime>
                <initLimit>5</initLimit>
                <syncLimit>2</syncLimit>
                <dataDir>/home/srk/working-dir/zook_ivsmq</dataDir>
                <clientPort>2181</clientPort>
                <maxClientCnxns>60</maxClientCnxns>
                <server.1>antwerpen01.mx.ict:2888:3888</server.1>
                <server.2>antwerpen02.mx.ict:2888:3888</server.2>
                <server.3>vlissingen01.mx.ict:2888:3888</server.3>
                <server.4>vlissingen01.mx.ict:2888:3888</server.4>
            </zookeeper>
        </server>
        <server id="IVS01C" url="vlissingen01.mx.ict">
            <apachemq>
                <ivs.openwire.port>61616</ivs.openwire.port>
                <ivs.amqp.port>5672</ivs.amqp.port>
                <ivs.stomp.port>1613</ivs.stomp.port>
                <ivs.mqtt.port>1883</ivs.mqtt.port>
                <ivs.ws.port>61614</ivs.ws.port>
                <failover>
                    <backupserver>IVS01A</backupserver>
                    <backupserver>IVS01B</backupserver>
                </failover>
                <replicatedLevelDB
                    directory="activemq-data"
                    replicas="3"
                    bind="tcp://0.0.0.0:36003"
                    zkAddress="antwerpen01.mx.ict:2181,antwerpen02.mx.ict:2181,vlissingen01.mx.ict:2181"
                    zkPassword=""
                    zkPath="/home/srk/working-dir/ivs01-dbstores"
                    sync="quorum_disk"
                    hostname="vlissingen01.mx.ict"
                />
            </apachemq>
            <jetty>
                <hostname>0.0.0.0</hostname>
                <port>8161</port>
            </jetty>
            <zookeeper>
                <tickTime>2000</tickTime>
                <initLimit>5</initLimit>
                <syncLimit>2</syncLimit>
                <dataDir>/home/srk/working-dir/zook_ivsmq</dataDir>
                <clientPort>2181</clientPort>
                <maxClientCnxns>60</maxClientCnxns>
                <server.1>antwerpen01.mx.ict:2888:3888</server.1>
                <server.2>antwerpen02.mx.ict:2888:3888</server.2>
                <server.3>vlissingen01.mx.ict:2888:3888</server.3>
                <server.4>vlissingen01.mx.ict:2888:3888</server.4>
            </zookeeper>
        </server>
        <server id="IVS02A" url="antwerpen02.mx.ict">
            <apachemq>
                <ivs.openwire.port>61602</ivs.openwire.port>
                <ivs.amqp.port>5662</ivs.amqp.port>
                <ivs.stomp.port>1603</ivs.stomp.port>
                <ivs.mqtt.port>1873</ivs.mqtt.port>
                <ivs.ws.port>61604</ivs.ws.port>
            </apachemq>
            <failover>
                <backupserver>IVS02B</backupserver>
                <backupserver>IVS02C</backupserver>
            </failover>
            <jetty>
                <hostname>0.0.0.0</hostname>
                <port>8171</port>
            </jetty>
            <zookeeper>
                <tickTime>2000</tickTime>
                <initLimit>5</initLimit>
                <syncLimit>2</syncLimit>
                <dataDir>/var/zookeeper/activemq/ivsmq</dataDir>
                <clientPort>2181</clientPort>
                <maxClientCnxns>60</maxClientCnxns>
                <server.1>antwerpen01.mx.ict:2888:3888</server.1>
                <server.2>antwerpen02.mx.ict:2888:3888</server.2>
                <server.3>vlissingen01.mx.ict:2888:3888</server.3>
                <server.4>vlissingen01.mx.ict:2888:3888</server.4>
            </zookeeper>
        </server>
        <server id="IVS02B" url="vlissingen01.mx.ict">
            <apachemq>
                <ivs.openwire.port>61602</ivs.openwire.port>
                <ivs.amqp.port>5662</ivs.amqp.port>
                <ivs.stomp.port>1603</ivs.stomp.port>
                <ivs.mqtt.port>1873</ivs.mqtt.port>
                <ivs.ws.port>61604</ivs.ws.port>
            </apachemq>
            <failover>
                <backupserver>IVS02B</backupserver>
                <backupserver>IVS02C</backupserver>
            </failover>
            <jetty>
                <hostname>0.0.0.0</hostname>
                <port>8171</port>
            </jetty>
            <zookeeper>
                <tickTime>2000</tickTime>
                <initLimit>5</initLimit>
                <syncLimit>2</syncLimit>
                <dataDir>/var/zookeeper/activemq/ivsmq</dataDir>
                <clientPort>2181</clientPort>
                <maxClientCnxns>60</maxClientCnxns>
                <server.1>antwerpen01.mx.ict:2888:3888</server.1>
                <server.2>antwerpen02.mx.ict:2888:3888</server.2>
                <server.3>vlissingen01.mx.ict:2888:3888</server.3>
                <server.4>vlissingen01.mx.ict:2888:3888</server.4>
            </zookeeper>
        </server>
        <server id="IVS02C" url="vlissingen02.mx.ict">
            <apachemq>
                <ivs.openwire.port>61602</ivs.openwire.port>
                <ivs.amqp.port>5662</ivs.amqp.port>
                <ivs.stomp.port>1603</ivs.stomp.port>
                <ivs.mqtt.port>1873</ivs.mqtt.port>
                <ivs.ws.port>61604</ivs.ws.port>
            </apachemq>
            <failover>
                <backupserver>IVS02B</backupserver>
                <backupserver>IVS02C</backupserver>
            </failover>
            <jetty>
                <hostname>0.0.0.0</hostname>
                <port>8171</port>
            </jetty>
            <zookeeper>
                <tickTime>2000</tickTime>
                <initLimit>5</initLimit>
                <syncLimit>2</syncLimit>
                <dataDir>/var/zookeeper/activemq/ivsmq</dataDir>
                <clientPort>2181</clientPort>
                <maxClientCnxns>60</maxClientCnxns>
                <server.1>antwerpen01.mx.ict:2888:3888</server.1>
                <server.2>antwerpen02.mx.ict:2888:3888</server.2>
                <server.3>vlissingen01.mx.ict:2888:3888</server.3>
                <server.4>vlissingen01.mx.ict:2888:3888</server.4>
            </zookeeper>
        </server>
        <server id="IVS03A" url="vlissingen01.mx.ict">
            <apachemq>
                <ivs.openwire.port>61502</ivs.openwire.port>
                <ivs.amqp.port>5652</ivs.amqp.port>
                <ivs.stomp.port>1503</ivs.stomp.port>
                <ivs.mqtt.port>1863</ivs.mqtt.port>
                <ivs.ws.port>61504</ivs.ws.port>
            </apachemq>
            <failover>
                <backupserver>IVS03B</backupserver>
                <backupserver>IVS03C</backupserver>
            </failover>
            <jetty>
                <hostname>0.0.0.0</hostname>
                <port>8181</port>
            </jetty>
            <zookeeper>
                <tickTime>2000</tickTime>
                <initLimit>5</initLimit>
                <syncLimit>2</syncLimit>
                <dataDir>/var/zookeeper/activemq/ivsmq</dataDir>
                <clientPort>2181</clientPort>
                <maxClientCnxns>60</maxClientCnxns>
                <server.1>antwerpen01.mx.ict:2888:3888</server.1>
                <server.2>antwerpen02.mx.ict:2888:3888</server.2>
                <server.3>vlissingen01.mx.ict:2888:3888</server.3>
                <server.4>vlissingen01.mx.ict:2888:3888</server.4>
            </zookeeper>
        </server>
        <server id="IVS03B" url="vlissingen02.mx.ict">
            <apachemq>
                <ivs.openwire.port>61502</ivs.openwire.port>
                <ivs.amqp.port>5652</ivs.amqp.port>
                <ivs.stomp.port>1503</ivs.stomp.port>
                <ivs.mqtt.port>1863</ivs.mqtt.port>
                <ivs.ws.port>61504</ivs.ws.port>
            </apachemq>
            <failover>
                <backupserver>IVS03A</backupserver>
                <backupserver>IVS03C</backupserver>
            </failover>
            <jetty>
                <hostname>0.0.0.0</hostname>
                <port>8181</port>
            </jetty>
            <zookeeper>
                <tickTime>2000</tickTime>
                <initLimit>5</initLimit>
                <syncLimit>2</syncLimit>
                <dataDir>/var/zookeeper/activemq/ivsmq</dataDir>
                <clientPort>2181</clientPort>
                <maxClientCnxns>60</maxClientCnxns>
                <server.1>antwerpen01.mx.ict:2888:3888</server.1>
                <server.2>antwerpen02.mx.ict:2888:3888</server.2>
                <server.3>vlissingen01.mx.ict:2888:3888</server.3>
                <server.4>vlissingen01.mx.ict:2888:3888</server.4>
            </zookeeper>
        </server>
        <server id="IVS03C" url="antwerpen01.mx.ict">
            <apachemq>
                <ivs.openwire.port>61502</ivs.openwire.port>
                <ivs.amqp.port>5652</ivs.amqp.port>
                <ivs.stomp.port>1503</ivs.stomp.port>
                <ivs.mqtt.port>1863</ivs.mqtt.port>
                <ivs.ws.port>61504</ivs.ws.port>
            </apachemq>
            <failover>
                <backupserver>IVS03A</backupserver>
                <backupserver>IVS03B</backupserver>
            </failover>
            <jetty>
                <hostname>0.0.0.0</hostname>
                <port>8191</port>
            </jetty>
            <zookeeper>
                <tickTime>2000</tickTime>
                <initLimit>5</initLimit>
                <syncLimit>2</syncLimit>
                <dataDir>/var/zookeeper/activemq/ivsmq</dataDir>
                <clientPort>2181</clientPort>
                <maxClientCnxns>60</maxClientCnxns>
                <server.1>antwerpen01.mx.ict:2888:3888</server.1>
                <server.2>antwerpen02.mx.ict:2888:3888</server.2>
                <server.3>vlissingen01.mx.ict:2888:3888</server.3>
                <server.4>vlissingen01.mx.ict:2888:3888</server.4>
            </zookeeper>
        </server>
        <server id="IVS04A" url="vlissingen02.mx.ict">
            <apachemq>
                <ivs.openwire.port>61402</ivs.openwire.port>
                <ivs.amqp.port>5642</ivs.amqp.port>
                <ivs.stomp.port>1403</ivs.stomp.port>
                <ivs.mqtt.port>1853</ivs.mqtt.port>
                <ivs.ws.port>61404</ivs.ws.port>
            </apachemq>
            <failover>
                <backupserver>IVS04B</backupserver>
                <backupserver>IVS04C</backupserver>
            </failover>
            <jetty>
                <hostname>0.0.0.0</hostname>
                <port>8191</port>
            </jetty>
            <zookeeper>
                <tickTime>2000</tickTime>
                <initLimit>5</initLimit>
                <syncLimit>2</syncLimit>
                <dataDir>/var/zookeeper/activemq/ivsmq</dataDir>
                <clientPort>2181</clientPort>
                <maxClientCnxns>60</maxClientCnxns>
                <server.1>antwerpen01.mx.ict:2888:3888</server.1>
                <server.2>antwerpen02.mx.ict:2888:3888</server.2>
                <server.3>vlissingen01.mx.ict:2888:3888</server.3>
                <server.4>vlissingen01.mx.ict:2888:3888</server.4>
            </zookeeper>
        </server>
        <server id="IVS04B" url="antwerpen01.mx.ict">
            <apachemq>
                <ivs.openwire.port>61402</ivs.openwire.port>
                <ivs.amqp.port>5642</ivs.amqp.port>
                <ivs.stomp.port>1403</ivs.stomp.port>
                <ivs.mqtt.port>1853</ivs.mqtt.port>
                <ivs.ws.port>61404</ivs.ws.port>
            </apachemq>
            <failover>
                <backupserver>IVS04A</backupserver>
                <backupserver>IVS04C</backupserver>
            </failover>
            <jetty>
                <hostname>0.0.0.0</hostname>
                <port>8191</port>
            </jetty>
            <zookeeper>
                <tickTime>2000</tickTime>
                <initLimit>5</initLimit>
                <syncLimit>2</syncLimit>
                <dataDir>/var/zookeeper/activemq/ivsmq</dataDir>
                <clientPort>2181</clientPort>
                <maxClientCnxns>60</maxClientCnxns>
                <server.1>antwerpen01.mx.ict:2888:3888</server.1>
                <server.2>antwerpen02.mx.ict:2888:3888</server.2>
                <server.3>vlissingen01.mx.ict:2888:3888</server.3>
                <server.4>vlissingen01.mx.ict:2888:3888</server.4>
            </zookeeper>
        </server>
        <server id="IVS04C" url="antwerpen02.mx.ict">
            <apachemq>
                <ivs.openwire.port>61402</ivs.openwire.port>
                <ivs.amqp.port>5642</ivs.amqp.port>
                <ivs.stomp.port>1403</ivs.stomp.port>
                <ivs.mqtt.port>1853</ivs.mqtt.port>
                <ivs.ws.port>61404</ivs.ws.port>
            </apachemq>
            <failover>
                <backupserver>IVS04A</backupserver>
                <backupserver>IVS04B</backupserver>
            </failover>
            <jetty>
                <hostname>0.0.0.0</hostname>
                <port>8191</port>
            </jetty>
            <zookeeper>
                <tickTime>2000</tickTime>
                <initLimit>5</initLimit>
                <syncLimit>2</syncLimit>
                <dataDir>/var/zookeeper/activemq/ivsmq</dataDir>
                <clientPort>2181</clientPort>
                <maxClientCnxns>60</maxClientCnxns>
                <server.1>antwerpen01.mx.ict:2888:3888</server.1>
                <server.2>antwerpen02.mx.ict:2888:3888</server.2>
                <server.3>vlissingen01.mx.ict:2888:3888</server.3>
                <server.4>vlissingen01.mx.ict:2888:3888</server.4>
            </zookeeper>
        </server>
    </servers>

</deployment>
