SERVER_ESB_USERNAME="srk"
SERVER_ESB_PASSWORD="srk"

SERVER_INSTALLATION_FOLDER="deployment"
RESOURCES_MASTER="/home/srk/master-scripting"
RESOURCES_SOFTWARE="/home/srk/master-scripting/download"
RESOURCES_SCRIPT_HOME="/home/srk/master-scripting/scripts"



INSTALL_HOME="/home/srk/deployment"
INSTALL_SOFTWARE_HOME="/home/srk/deployment/software"
INSTALL_SCRIPT_HOME="/home/srk/deployment/scripts"
INSTALL_WORKSPACE_HOME="/home/srk/deployment/workspace"
INSTALL_SOFTWARE_DESTINATION="/home/srk/deployment/workspace/software"
INSTALL_ZOOKEEPER="zookeeper-3.4.8.tar.gz"
INSTALL_APACHEMQ="apache-activemq-5.14.0-bin.tar.gz"
INSTALL_MULE="mule-standalone-3.8.0.tar.gz"

# Software
i=0
IVS_ESB_SOFTWARE[((i++))]="zookeeper-3.4.8.tar.gz"
IVS_ESB_SOFTWARE[((i++))]="apache-activemq-5.14.0-bin.tar.gz"
IVS_ESB_SOFTWARE[((i++))]="mule-standalone-3.8.0.tar.gz"


i=0
IVS_CHANNEL_SOFTWARE[((i++))]=wildfly-10.0.0.Final.tar

# Servers
i=0
IVS_ESB_SERVERS[((i++))]="antwerpen01.mx.ict"
IVS_ESB_SERVERS[((i++))]="antwerpen02.mx.ict"
IVS_ESB_SERVERS[((i++))]="vlissingen01.mx.ict"
IVS_ESB_SERVERS[((i++))]="vlissingen02.mx.ict"


# apachemq instances
i=0
IVS_APACHEMQ_INSTANCES[((i++))]=IVS01A
IVS_APACHEMQ_INSTANCES[((i++))]=IVS01B
IVS_APACHEMQ_INSTANCES[((i++))]=IVS01C
IVS_APACHEMQ_INSTANCES[((i++))]=IVS02A
IVS_APACHEMQ_INSTANCES[((i++))]=IVS02B
IVS_APACHEMQ_INSTANCES[((i++))]=IVS02C
IVS_APACHEMQ_INSTANCES[((i++))]=IVS03A
IVS_APACHEMQ_INSTANCES[((i++))]=IVS03B
IVS_APACHEMQ_INSTANCES[((i++))]=IVS03C
IVS_APACHEMQ_INSTANCES[((i++))]=IVS04A
IVS_APACHEMQ_INSTANCES[((i++))]=IVS04B
IVS_APACHEMQ_INSTANCES[((i++))]=IVS04C


# apachemq instances
i=0
IVS_APACHEMQ_INSTANCES_BYSERVER[((i++))]=IVS01A.antwerpen01.mx.ict
IVS_APACHEMQ_INSTANCES_BYSERVER[((i++))]=IVS01B.antwerpen02.mx.ict
IVS_APACHEMQ_INSTANCES_BYSERVER[((i++))]=IVS01C.vlissingen01.mx.ict
IVS_APACHEMQ_INSTANCES_BYSERVER[((i++))]=IVS02A.antwerpen02.mx.ict
IVS_APACHEMQ_INSTANCES_BYSERVER[((i++))]=IVS02B.vlissingen01.mx.ict
IVS_APACHEMQ_INSTANCES_BYSERVER[((i++))]=IVS02C.vlissingen02.mx.ict
IVS_APACHEMQ_INSTANCES_BYSERVER[((i++))]=IVS03A.vlissingen01.mx.ict
IVS_APACHEMQ_INSTANCES_BYSERVER[((i++))]=IVS03B.vlissingen02.mx.ict
IVS_APACHEMQ_INSTANCES_BYSERVER[((i++))]=IVS03C.antwerpen01.mx.ict
IVS_APACHEMQ_INSTANCES_BYSERVER[((i++))]=IVS04A.vlissingen02.mx.ict
IVS_APACHEMQ_INSTANCES_BYSERVER[((i++))]=IVS04B.antwerpen01.mx.ict
IVS_APACHEMQ_INSTANCES_BYSERVER[((i++))]=IVS04C.antwerpen02.mx.ict
# need to add Domain servers


# need to add Channel Servers

